<section class="section_gap big_features">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8 text-center">
        <div class="main_title">
          <p class="top_title">Features Specifications</p>
          <h2>Amazing Features That make it Awesome!</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>
        </div>
      </div>
    </div>
    <div class="row features_content">
      <div class="col-lg-4 offset-lg-1">
        <div class="big_f_left">
          <img class="img-fluid" src="assets/images/f-img1.png" alt="">
        </div>
      </div>
      <div class="col-lg-4 offset-lg-2">
        <div class="common_style">
          <p class="line">Modern Daesign Trends</p>
          <h3>We Believe that <br /> Inner beauty Lasts Long</h3>
          <p>inappropriate behavior is often laughed off as “boys will be boys,” women face higher conduct standards
            especially in the workplace. That’s why it’s crucial that as women.</p>
          <a class="primary_btn" href="#"><span>Learn More</span></a>
        </div>
      </div>
      <div class="border-line"></div>
      <img class="shape1" src="assets/images/shape1.png" alt="">
      <img class="shape2" src="assets/images/shape2.png" alt="">
      <img class="shape3" src="assets/images/shape1.png" alt="">
    </div>

    <div class="row features_content bottom-features">
      <div class="col-lg-5">
        <div class="common_style">
          <p class="line">Modern Daesign Trends</p>
          <h3>We Believe that <br /> Inner beauty Lasts Long</h3>
          <p>inappropriate behavior is often laughed off as “boys will be boys,” women face higher conduct standards
            especially in the workplace. That’s why it’s crucial that as women.</p>
          <a class="primary_btn" href="#"><span>Learn More</span></a>
        </div>
      </div>
      <div class="col-lg-5 offset-lg-2">
        <div class="big_f_left">
          <img class="img-fluid" src="assets/images/f-img2.png" alt="">
        </div>
      </div>
      <div class="border-line"></div>
      <img class="shape1" src="assets/images/shape1.png" alt="">
      <img class="shape2" src="assets/images/shape2.png" alt="">
      <img class="shape3" src="assets/images/shape1.png" alt="">
    </div>
  </div>
</section>