@import "variables";
@import "mixins";
@import "reset";
@import "predefine";
@import "elements";
@import "responsive";

.big_features {
  .common_style {
    p {
      padding-right: 20px;
    }
  }
}
.features_content {
  position: relative;
  .border-line {
    position: absolute;
    left: 50%;
    height: 100%;
    border: 1px dashed #dbdade;
  }
  .shape1 {
    position: absolute;
    left: 50%;
    top: 40%;
    margin-left: -8px;
  }
  .shape2 {
    position: absolute;
    left: 48%;
    top: 47%;
    margin-left: -15px;
  }
  .shape3 {
    position: absolute;
    left: 50%;
    top: 62%;
    margin-left: -9px;
  }
}
.bottom-features {
  margin-top: 120px;
  .shape3 {
    top: 64%;
  }
}
