@import "variables";
@import "mixins";
@import "reset";
@import "predefine";
@import "elements";
@import "responsive";

.brand-carousel {
  .single-brand-item {
    background: #fcf8ff;
    height: 130px;
    width: 170px;
    cursor: pointer;
    @media only screen and (max-width: 767px) {
      height: 100px;
      width: 140px;
    }
    .d-table-cell {
      vertical-align: middle;
    }
    img {
      @include filter(100%);
      max-width: 80px;
      margin: 0 auto;
      @media only screen and (max-width: 767px) {
        max-width: 100px;
      }
    }
    &:hover {
      img {
        @include filter(0%);
        @include transition();
      }
    }
  }
}
