<section class="brand_area section_gap">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="owl-carousel brand-carousel">
          <!-- single-brand -->
          <div class="single-brand-item d-table">
            <div class="d-table-cell">
              <img src="assets/images/brands/logo1.png" alt="">
            </div>
          </div>
          <!-- single-brand -->
          <div class="single-brand-item d-table">
            <div class="d-table-cell">
              <img src="assets/images/brands/logo2.png" alt="">
            </div>
          </div>
          <!-- single-brand -->
          <div class="single-brand-item d-table">
            <div class="d-table-cell">
              <img src="assets/images/brands/logo3.png" alt="">
            </div>
          </div>
          <!-- single-brand -->
          <div class="single-brand-item d-table">
            <div class="d-table-cell">
              <img src="assets/images/brands/logo4.png" alt="">
            </div>
          </div>
          <!-- single-brand -->
          <div class="single-brand-item d-table">
            <div class="d-table-cell">
              <img src="assets/images/brands/logo5.png" alt="">
            </div>
          </div>
          <!-- single-brand -->
          <div class="single-brand-item d-table">
            <div class="d-table-cell">
              <img src="assets/images/brands/logo6.png" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>