a {
  position: fixed;
  bottom: 10px;
  float: right;
  left: 95%;
  max-width: 30px;
  width: 100%;
  font-size: 20px;
  color: #dc3545 !important;
  cursor: pointer;
}

@media (max-width: 768px) {
  a {
    bottom: 30px;
    left: 85%;
  }
}