<footer class="footer_area">
  <div class="container">
    <div class="row footer_inner">
      <div class="col-lg-3 col-sm-6">
        <aside class="f_widget social_widget">
          <div class="f_title">
            <h3>Siga-nos</h3>
          </div>
          <p>Nossas redes sociais</p>
          <ul class="list">
            <li>
              <a href="#">
                <i class="fa fa-facebook"></i>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="fa fa-whatsapp"></i>
              </a>
            </li>
          </ul>
        </aside>
      </div>
      <!-- <div class="col-lg-9 col-sm-6 d-sm-none d-md-block">
        <aside class="f_widget ab_widget">
          <div class="f_title">
            <h3>Rede credenciada</h3>
          </div>
          <img src="assets/images/cards.png" alt="Cartões aceitos">
        </aside>
      </div> -->
    </div>
  </div>
</footer>