@import "variables";
@import "mixins";
@import "reset";
@import "predefine";
@import "elements";
@import "responsive";

.footer_area {
  background-color: #F8F8FF;
}

.footer_inner {
  display: flex;
  align-items: center;
}
