<section class="company_area" id="company">
  <div class="container">
    <div class="company_inner">
      <h2>Empresa</h2>
      <p>
        <strong>
          Fundado em Março de 1993, o Sacolão Econômico tem sua sede em Canoas,
          no bairro Nossa Senhora das Graças e algumas de suas características são:
        </strong>
      </p>
      <ul class="list">
        <li>Atendimento ao Público</li>
        <li>Serviços de entrega a domicílio e a empresas</li>
        <li>Pedidos e orçamentos por telefone, WhatsApp, e-mail</li>
        <li>Pagamentos a domicílio com cartões de crédito/débito e alimentação</li>
      </ul>
      <br>
      <p>
        <strong>Para a empresa a distribuição da cesta significa:</strong>
      </p>
      <ul class="list">
        <li>Maior produtividade</li>
        <li>Redução de faltas/atraso</li>
        <li>Benefício integral em alimentação/higiene/saúde</li>
        <li>Desconto no IR com a utilização do PAT</li>
      </ul>
      <br>
      <p>
        <strong>Para os funcionários:</strong>
      </p>
      <ul class="list">
        <li>Garantia de alimentação de qualidade</li>
        <li>Redução de despesas com alimentação</li>
        <li>Maior poder aquisitivo do salário</li>
      </ul>
    </div>
  </div>
</section>