<section class="price_area section_gap p-3" *ngFor="let product of products" id="{{ product.id }}">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8 text-center">
        <div class="main_title">
          <h2>{{ product.type }}</h2>
        </div>
      </div>
    </div>
    <div class="price_inner row justify-content-center">
      <div class="col-md-6 mb-3" *ngFor="let basket of product.baskets">
        <div class="price_item">
          <div class="price_head">
            <h4>{{ basket.name }}</h4>
          </div>
          <div class="price_body">
            <ul class="list" *ngFor="let item of basket.items">
              <li>{{ item }}</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row cotation">
    <div class="col-12">
      <div class="text-center">
        <div class="price_footer" onclick="window.open('https://mail.google.com/mail/?view=cm&fs=1&tf=1&to=marisacolao@hotmail.com')">
          <h4>solicitar cotação</h4>
        </div>
      </div>
    </div>
  </div>
  <hr>
</section>