@import "variables";
@import "mixins";
@import "reset";
@import "predefine";
@import "elements";
@import "responsive";

.price_area {
  background-color: #F8F8FF;
  background-size: cover;
  padding: 80px 0 40px !important;
}

.price_item {
  text-align: center;
  border: 2px solid #eeeeee;
  border-radius: 5px;
  background: #fff;
  position: relative;
  height: 100%;
  @include transition();
  .price_head {
    text-align: center;
    background: #ffffff;
    padding: 35px 0px;
    border-bottom: 1px solid #eeeeee;
    h4 {
      font-size: 20px;
      color: $title-color;
      margin-bottom: 0px;
      font-family: $title-font;
    }
  }
  .price_body {
    padding: 30px 0px;
    background: #fff;
    @include transition();
    ul {
      li {
        margin-bottom: 15px;
        padding-left: 30px;
        text-align: left;
        list-style: inherit;
        a {
          font-size: 14px;
          color: #666666;
          font-family: $primary-font;
          font-weight: normal;
        }
        &:last-child {
          margin-bottom: 0px;
        }
      }
    }
  }
  &:hover {
    background: #fcf8ff;
    border: double 2px transparent;
    border-radius: 5px;
    background-image: linear-gradient(white, white),
      radial-gradient(circle at top left, $primary-color, $primary-color2);
    background-image: -webkit-linear-gradient(white, white),
      -webkit-radial-gradient(circle at top left, $primary-color, $primary-color2);
    background-image: -moz-linear-gradient(white, white),
      -moz-radial-gradient(circle at top left, $primary-color, $primary-color2);
    background-image: -ms-linear-gradient(white, white),
      -ms-radial-gradient(circle at top left, $primary-color, $primary-color2);
    background-image: -o-linear-gradient(white, white),
      -o-radial-gradient(circle at top left, $primary-color, $primary-color2);
    background-origin: border-box;
    background-clip: content-box, border-box;
    .price_head {
      @extend .gradient-bg;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      h4 {
        color: #fff;
      }
    }
    .price_body {
      background: #fcf8ff;
    }
  }
}

.cotation {
  padding: 80px 0 80px;
}

.price_footer {
  max-width: 280px;
  margin: 0px auto 10px;
  border-radius: 5px;
  padding-top: 35px;
  padding-bottom: 40px;
  cursor: pointer;
  @extend .gradient-bg;
  box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.1);
  h4 {
    color: #fff;
    .month {
      color: #fff;
    }
  }
}