<section class="price_area section_gap p-3" *ngFor="let product of products">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8 text-center">
        <div class="main_title">
          <h2>{{ product.type }}</h2>
        </div>
      </div>
    </div>
    <div class="price_inner row justify-content-center">
      <div class="col-6 mb-3" *ngFor="let basket of product.baskets">
        <div class="price_item">
          <div class="price_head">
            <h4>{{ basket.name }}</h4>
          </div>
          <div class="price_body">
            <ul class="list" *ngFor="let item of basket.items">
              <li>{{ item }}</li>
            </ul>
          </div>
          <div class="price_footer">
            <h4>preço sob consulta</h4>
            <!-- <a class="primary_btn" href="https://mail.google.com/mail/?view=cm&fs=1&tf=1&to=marisacolao@hotmail.com" target="_blank"><span>Solicitar</span></a> -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr>
</section>