@import "variables";
@import "mixins";
@import "reset";
@import "predefine";
@import "elements";
@import "responsive";

.home_banner_area {
  z-index: 1;
  background-color: #F8F8FF;
  background-size: cover;
  opacity: 0.75;
  .banner_inner {
    width: 100%;
    height: calc(100vh - 100px);
    display: flex;
    align-items: center;
    .home_right_img {
      padding-top: 260px;
      padding-bottom: 142px;
    }
    .col-lg-5 {
      vertical-align: middle;
      align-self: center;
    }
    .banner_content {
      text-align: left;
      color: #fff;
      h2 {
        margin-top: 0px;
        font-size: 48px;
        font-weight: 400;
        line-height: 54px;
        margin-bottom: 20px;
      }
      p {
        color: #fff;
        font-size: 14px;
        margin-bottom: 20px;
      }
      .primary_btn {
        border-color: #fff;
        background: rgba(255, 255, 255, 0.1);
        color: #fff;
        margin-right: 30px;
        &:hover {
          background: #fff;
          color: $title-color;
        }
      }
      .watch_video {
        margin: 0 30px;
        font-size: 12px;
        text-transform: uppercase;
      }
    }
  }
}

.banner_box {
  max-width: 1620px;
  margin: auto;
}

.banner_area {
  position: relative;
  z-index: 1;
  min-height: 400px;
  .banner_inner {
    position: relative;
    overflow: hidden;
    width: 100%;
    min-height: 400px;
    background-size: cover;
    z-index: 1;
    .banner_content {
      h2 {
        color: #fff;
        font-size: 36px;
        font-family: $title-font;
        margin-bottom: 0px;
        text-transform: capitalize;
        font-weight: bold;
      }
      .page_link {
        a {
          font-size: 14px;
          color: #fff;
          font-family: $primary-font;
          margin-right: 32px;
          position: relative;
          &:before {
            content: "\e87a";
            font-family: "Linearicons-Free";
            font-size: 14px;
            position: absolute;
            right: -25px;
            top: 54%;
            @include transform(translateY(-50%));
          }
          &:last-child {
            margin-right: 0px;
            &:before {
              display: none;
            }
          }
        }
      }
    }
  }
}

img {
  width: 47%;
}

@media (max-width: 768px) {
  img {
    width: 80%;
  }
}