body {
  overflow-x: hidden !important;
}

.loading-screen {
  height: 100vh;
  width: 100vw;
  align-items: center;
  background-color: #F8F8FF;
}

.spinner {
  width: 5rem;
  height: 5rem;
  border: 0.3rem solid #dc3545;
  border-right-color: transparent;
  -webkit-animation: spinner-border 0.75s linear infinite;
  animation: spinner-border 0.75s linear infinite;
}
