<section class="section_gap features_area">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8 text-center">
        <div class="main_title">
          <p class="top_title">Exclusive Stunning Features</p>
          <h2>A Complete Software Based Website</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>
          <a href="#" class="primary_btn"><span>Start Free Trial Now!</span></a>
        </div>
      </div>
    </div>
    <div class="row align-items-center">
      <div class="col-lg-6">
        <div class="left_features">
          <img class="img-fluid" src="assets/images/f-img.png" alt="">
        </div>
      </div>
      <div class="col-lg-5 offset-lg-1">
        <!-- single features -->
        <div class="single_feature">
          <div class="feature_head">
            <span class="lnr lnr-screen"></span>
            <h4>Stunning Visuals</h4>
          </div>
          <div class="feature_content">
            <p>Here, I focus on a range of items and features that we use in life without giving them a second thought
              such as Coca Cola.</p>
          </div>
        </div>
        <!-- single features -->
        <div class="single_feature">
          <div class="feature_head">
            <span class="lnr lnr-screen"></span>
            <h4>Stunning Visuals</h4>
          </div>
          <div class="feature_content">
            <p>Here, I focus on a range of items and features that we use in life without giving them a second thought
              such as Coca Cola.</p>
          </div>
        </div>
        <!-- single features -->
        <div class="single_feature">
          <div class="feature_head">
            <span class="lnr lnr-screen"></span>
            <h4>Stunning Visuals</h4>
          </div>
          <div class="feature_content">
            <p>Here, I focus on a range of items and features that we use in life without giving them a second thought
              such as Coca Cola.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>